workflows_backup.json
[{"updatedAt":"2025-12-30T15:27:14.378Z","createdAt":"2025-12-30T15:13:17.695Z","id":"svOxRlkTLX4Sp7VM","name":"Google Calendar Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"04e352f1-97df-495d-b50f-83b8cac7b967","name":"When chat message received","webhookId":"95448707-755f-4d8c-bdf4-8a1886d529ff"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[224,0],"id":"2cd3b917-1aa9-42f7-8794-6de2fbfc1a0a","name":"AI Agent"},{"parameters":{"calendar":{"__rl":true,"value":"edward19978695@gmail.com","mode":"list","cachedResultName":"edward19978695@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `The start time of the event.`, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `The end time of the event`, 'string') }}","additionalFields":{"summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `The title of the event`, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[528,224],"id":"4f28497d-6016-4c0b-a5f2-38aba4230d9c","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"QYiRRh5HAa0QK2Ss","name":"Google Calendar account"}}},{"parameters":{"model":"qwen2.5:7b","options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[144,224],"id":"73163566-f5fe-47b7-8cab-a5153ab62e36","name":"Qwen 2.5","credentials":{"ollamaApi":{"id":"kERtHI8L518yEI0u","name":"Ollama account"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"edward19978695@gmail.com","mode":"list","cachedResultName":"edward19978695@gmail.com"},"timeMin":"={{ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ $fromAI('End_Time', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[368,208],"id":"544d7358-1a71-436f-859f-d5439f0ca8b4","name":"Get availability in a calendar in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"QYiRRh5HAa0QK2Ss","name":"Google Calendar account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Qwen 2.5":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get availability in a calendar in Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"450a79c5-5ce3-48e0-8638-58752831b53e","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-30T15:13:17.695Z","createdAt":"2025-12-30T15:13:17.695Z","role":"workflow:owner","workflowId":"svOxRlkTLX4Sp7VM","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2025-12-30T15:25:46.764Z","createdAt":"2025-12-30T15:13:40.471Z","id":"DpfH2TpmFTmGsmix","name":"Google Sheets Workflow","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"responseMode":"responseNodes"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[64,232],"id":"24cf898c-edae-43aa-94bb-279d3bd0b79c","name":"When chat message received","webhookId":"3ce0aed0-aecb-4ef0-8378-8f56ad5a9c39","alwaysOutputData":false},{"parameters":{"descriptionType":"manual","toolDescription":"=Use this tool to append a new row to the Google Sheet.\nThis tool will modify the sheet content and should ONLY be used after the user has explicitly confirmed that the data should be added.\nBefore using this tool, make sure the user has reviewed and approved the content to be appended.\nDo not use this tool without clear user confirmation.","operation":"append","documentId":{"__rl":true,"value":"16uqRIWANCbSYN-k8QU97UXkkr3MjIkohWGPk_DGo5Oo","mode":"list","cachedResultName":"Career Progress Record","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16uqRIWANCbSYN-k8QU97UXkkr3MjIkohWGPk_DGo5Oo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2044591774,"mode":"list","cachedResultName":"LINE - Data Scientist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16uqRIWANCbSYN-k8QU97UXkkr3MjIkohWGPk_DGo5Oo/edit#gid=2044591774"},"columns":{"mappingMode":"defineBelow","value":{"Created At":"={{ $now.format('yyyy-MM-dd') }}","Updated At":"={{ $now.format('yyyy-MM-dd') }}","Task":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task', `A clear description of the task to be added to the Google Sheet.\nThis field is required and must be provided before appending a new row.`, 'string') }}","Function":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Function', `The technical skill, method, or function used to handle this task.\nOnly include this field if the information is confirmed by the user.`, 'string') }}","Advantage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Advantage', `The personal or technical advantage demonstrated while performing this task.\nOnly include this field if the information is confirmed by the user.`, 'string') }}","Benifit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Benifit', `The benefit or impact this task brings to the team or company.\nOnly include this field if the information is confirmed by the user.`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Row ID","displayName":"Row ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Function","displayName":"Function","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Advantage","displayName":"Advantage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Benifit","displayName":"Benifit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Created At","displayName":"Created At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Updated At","displayName":"Updated At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1472,432],"id":"efb75965-d6f2-4c88-a83c-9c0b38ec9497","name":"append_row_to_google_sheet_with_confirmation","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"=Use this tool to update an existing row in the Google Sheet.\nThis tool will modify existing data and should ONLY be used after the user has explicitly confirmed the update.\nThe row to be updated must be identified by a Row ID provided by the user.\nDo not guess or infer the Row ID.\nOnly update the fields that the user has approved.\n\nImportant:\n- Only include fields that should be updated.\n- Omitted fields will remain unchanged.\n- DO NOT pass empty strings for fields you do not intend to update.\n- Passing an empty string will overwrite existing data and is considered destructive.","operation":"update","documentId":{"__rl":true,"value":"16uqRIWANCbSYN-k8QU97UXkkr3MjIkohWGPk_DGo5Oo","mode":"list","cachedResultName":"Career Progress Record","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16uqRIWANCbSYN-k8QU97UXkkr3MjIkohWGPk_DGo5Oo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2044591774,"mode":"list","cachedResultName":"LINE - Data Scientist","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16uqRIWANCbSYN-k8QU97UXkkr3MjIkohWGPk_DGo5Oo/edit#gid=2044591774"},"columns":{"mappingMode":"defineBelow","value":{"Row ID":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Row_ID__using_to_match_', `The unique Row ID of the row to be updated.\nThis value must be provided explicitly by the user.\nDo not guess, infer, or generate this value.\n\nOnly include this field if the user wants to update it.\nIf omitted, the existing value will be preserved.\nDO NOT send an empty string.`, 'string') }}","Task":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Task', `The updated task description for this row.\nOnly include this field if the user has explicitly requested to update the task.\n\nOnly include this field if the user wants to update it.\nIf omitted, the existing value will be preserved.\nDO NOT send an empty string.`, 'string') }}","Function":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Function', `The updated technical skill, method, or function used for this task.\nOnly include this field if the user has explicitly requested to update it.\n\nOnly include this field if the user wants to update it.\nIf omitted, the existing value will be preserved.\nDO NOT send an empty string.`, 'string') }}","Advantage":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Advantage', `The updated personal or technical advantage for this task.\nOnly include this field if the user has explicitly requested to update it.\n\nOnly include this field if the user wants to update it.\nIf omitted, the existing value will be preserved.\nDO NOT send an empty string.`, 'string') }}","Benifit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Benifit', `The updated benefit or impact this task brings to the team or company.\nOnly include this field if the user has explicitly requested to update it.\n\nOnly include this field if the user wants to update it.\nIf omitted, the existing value will be preserved.\nDO NOT send an empty string.`, 'string') }}","Updated At":"={{ $now.format('yyyy-MM-dd') }}"},"matchingColumns":["Row ID"],"schema":[{"id":"Row ID","displayName":"Row ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Task","displayName":"Task","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Function","displayName":"Function","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Advantage","displayName":"Advantage","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Benifit","displayName":"Benifit","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Created At","displayName":"Created At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Updated At","displayName":"Updated At","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[1664,432],"id":"d905edbb-e264-4edf-b10c-bb5892f092a3","name":"update_row_in_google_sheet_with_confirmation","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"message":"={{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[640,160],"id":"6db94f5b-e7b0-4a45-b78c-271a73d5942d","name":"Respond to Chat"},{"parameters":{"message":"={{ $json.output }}","waitUserReply":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.chat","typeVersion":1,"position":[1776,232],"id":"c2756778-7c99-4a00-97f3-c2d12a2928ae","name":"Respond to Chat1"},{"parameters":{"model":"qwen2.5:7b","options":{"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1312,456],"id":"9d702fb3-a428-4f65-84c7-ab66f2bd8836","name":"Qwen 2.5","credentials":{"ollamaApi":{"id":"kERtHI8L518yEI0u","name":"Ollama account"}}},{"parameters":{"options":{"systemMessage":"=You are a planning and discussion agent.\n\nYour role is to help the user think through and refine a work record using the FAB framework:\n- Task: what was done\n- Function: how it was done (skills, methods, tools)\n- Advantage: strengths or unique contributions\n- Benefit: impact or value delivered\n\nHow you should behave:\n- Act as a collaborative thinking partner.\n- Prefer asking good, focused questions over giving final answers.\n- Help surface clearer, more specific, or more impactful ways to describe the work.\n- Point out ambiguities, overlaps, or missing angles when you notice them.\n- You may suggest example phrasings, but they are always open for discussion.\n\nLanguage:\n- You may respond in Traditional Chinese or English.\n- Prefer the language used by the user.\n- Draft ideas may be mixed-language during discussion.\n\nThe goal is to reach a shared understanding of the FAB content through discussion.\n\n--------------------------------------------------\nExecution Plan Handoff (ONLY when user asks)\n--------------------------------------------------\n\nSometimes the user will explicitly ask you to \"produce an execution plan/steps\" for a downstream executing agent.\n\nWhen (and only when) the user explicitly requests an execution plan:\n- Produce a step-by-step plan for the downstream executing agent to follow.\n- The downstream executing agent is the executor and has Google Sheets tools to APPEND or UPDATE rows.\n- Your plan must be precise and unambiguous. The executing agent must follow it exactly.\n- The plan must specify whether to APPEND or UPDATE.\n- If UPDATE is needed, include the required Row ID (do not invent it; use only what the user provided).\n- Include the exact field values to write (do not improve or rewrite them in the execution stage).\n- Do NOT include empty fields; omit any field that should not be changed.\n\nFormatting requirement:\n- Put the execution plan inside a single markdown code block.\n- Ensure this code block is the LAST code block in your entire message.\n- Outside the code block, keep any extra text minimal.\n","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[288,232],"id":"b1e52878-5228-42f4-906f-ed3f5f48b562","name":"Planning Agent"},{"parameters":{"promptType":"define","text":"={{ $json.executionPlan }}","options":{"systemMessage":"=You are an Executing Agent.\n\nYour sole responsibility is to execute a pre-confirmed execution plan\nprovided by an upstream planning process.\n\nYou do NOT:\n- Discuss or reason about the task\n- Modify, rewrite, or improve any content\n- Ask clarification questions\n- Make decisions or assumptions\n- Validate correctness of the plan\n\nYou ONLY:\n- Follow the execution plan exactly as provided\n- Use the specified Google Sheets tool (append or update)\n- Write exactly the content given in the plan\n- Omit any field that is not explicitly included in the plan\n\n--------------------------------------------------\nInput Contract\n--------------------------------------------------\n\nYou will receive an execution plan from upstream.\nThe plan will specify:\n- ACTION: APPEND or UPDATE\n- (If UPDATE) ROW_ID\n- FIELDS to be written or updated\n\nThe execution plan is already confirmed.\nYou must not wait for user approval.\n\n--------------------------------------------------\nExecution Rules (STRICT)\n--------------------------------------------------\n\n- Follow the execution plan exactly. Do not reinterpret it.\n- Do not change wording, tone, or structure of any field content.\n- Do not add, remove, or merge fields.\n- Only include fields explicitly present in the plan.\n- NEVER send empty strings, null values, or placeholders.\n- NEVER infer or generate missing information.\n- For UPDATE:\n  - A ROW_ID must be present.\n  - Update only the specified fields.\n- For APPEND:\n  - Create a new row with the specified fields only.\n\n--------------------------------------------------\nTool Usage\n--------------------------------------------------\n\nAvailable tools:\n- Append row to Google Sheet\n- Update row in Google Sheet\n\nUse ONLY the tool specified by ACTION in the execution plan.\n\n--------------------------------------------------\nOutput Behavior\n--------------------------------------------------\n\nAfter execution:\n- Provide a brief, factual summary of what was done.\n- Do not restate the full content.\n- Do not provide analysis, advice, or next steps.\n\nYour output should be minimal and informational.\n","enableStreaming":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1368,232],"id":"317bf5ce-9a68-4adf-9691-988b85e0e9d3","name":"Executing Agent"},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[424,456],"id":"70ed69ca-0ec7-4ce9-ad6c-ddbc202f5609","name":"Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9b952667-cd76-4e55-9b47-647375c2c92a","leftValue":"={{ $json.chatInput }}","rightValue":"confirm","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[864,232],"id":"1225707c-c7b6-4233-ac17-90ed2599741f","name":"Human Confirmation"},{"parameters":{"jsCode":"const fullText = $('Planning Agent').first().json.output;\n\n// Match all markdown code blocks\nconst matches = [...fullText.matchAll(/```[\\w-]*\\s*([\\s\\S]*?)```/g)];\n\nif (matches.length === 0) {\n  throw new Error('No markdown code block found.');\n}\n\n// Take the last code block\nconst lastBlock = matches[matches.length - 1][1].trim();\n\nreturn {\n  json: {\n    executionPlan: lastBlock\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,232],"id":"96689f84-25c4-4d8a-bb9e-63b81526f8dc","name":"Extract Executing Plans"},{"parameters":{"content":"## 🧠 Planning Agent\n- Uses DeepSeek-R1 for reasoning and discussion\n- Iterates with human feedback and confirmation\n- Produces plans only after alignment\n- No tool usage, no execution","height":608,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[-8,-8],"typeVersion":1,"id":"29ea76e6-8a4d-49d8-80d1-25d172e5d9a9","name":"Sticky Note"},{"parameters":{"content":"## ⚙️ Executing Agent\n- Uses Qwen 2.5 for tool execution\n- Follows confirmed plans step by step\n- No reasoning, no content modification","height":608,"width":928,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1032,-8],"typeVersion":1,"id":"d07cb8db-37ea-4cd1-8157-196072630aad","name":"Sticky Note1"},{"parameters":{"model":"deepseek-r1:8b","options":{"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[296,456],"id":"407c2da7-7a01-4c7b-94c6-b5595c10663d","name":"DeepSeek-R1","credentials":{"ollamaApi":{"id":"kERtHI8L518yEI0u","name":"Ollama account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Planning Agent","type":"main","index":0}]]},"append_row_to_google_sheet_with_confirmation":{"ai_tool":[[{"node":"Executing Agent","type":"ai_tool","index":0}]]},"update_row_in_google_sheet_with_confirmation":{"ai_tool":[[{"node":"Executing Agent","type":"ai_tool","index":0}]]},"Respond to Chat":{"main":[[{"node":"Human Confirmation","type":"main","index":0}]]},"Qwen 2.5":{"ai_languageModel":[[{"node":"Executing Agent","type":"ai_languageModel","index":0}]]},"Planning Agent":{"main":[[{"node":"Respond to Chat","type":"main","index":0}]]},"Executing Agent":{"main":[[{"node":"Respond to Chat1","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"Planning Agent","type":"ai_memory","index":0}]]},"Human Confirmation":{"main":[[{"node":"Extract Executing Plans","type":"main","index":0}],[{"node":"Planning Agent","type":"main","index":0}]]},"Extract Executing Plans":{"main":[[{"node":"Executing Agent","type":"main","index":0}]]},"DeepSeek-R1":{"ai_languageModel":[[{"node":"Planning Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e0e64bb-646d-4862-b043-b37cd4f19676","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-30T15:13:40.471Z","createdAt":"2025-12-30T15:13:40.471Z","role":"workflow:owner","workflowId":"DpfH2TpmFTmGsmix","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-10T05:34:00.536Z","createdAt":"2025-12-30T15:14:06.525Z","id":"0eQHgknPMGc978z9","name":"LINE OA 長輩圖回應生成器","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"image","modelId":{"__rl":true,"value":"deepseek-ocr:3b","mode":"list","cachedResultName":"deepseek-ocr:3b"},"text":"=Describe the image which might contain some Chinese characters.","options":{"system":"=You are an OCR and image description model.\nYour task is to describe the visible content of the image accurately and neutrally."}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[736,0],"id":"0fe7a816-0c47-436a-8b76-5f414d6fd6b6","name":"DeepSeek OCR","credentials":{"ollamaApi":{"id":"kERtHI8L518yEI0u","name":"Ollama account"}}},{"parameters":{"modelId":{"__rl":true,"value":"deepseek-r1:8b","mode":"list","cachedResultName":"deepseek-r1:8b"},"messages":{"values":[{"content":"={{ $json.content }}"}]},"options":{"system":"=You generate a short Traditional Chinese reply based on OCR text from an image.\n\nThe input text comes from OCR and may be noisy or incomplete.\n\nOutput rules (STRICT):\n- Output ONLY the reply text.\n- Traditional Chinese only.\n- Around 10~20 Traditional Chinese characters.\n- Tone: caring and polite, like a younger person replying to an elder.\n\nContent rules:\n- Base the reply on the MAIN idea found in the OCR text.\n- If the OCR mentions a specific topic (e.g. weather, health, safety, encouragement),\n  the reply should reflect that topic.\n- Avoid generic replies if a specific topic is present.\n- If no clear topic is found, use a general caring blessing.\n","temperature":0.8}},"type":"@n8n/n8n-nodes-langchain.ollama","typeVersion":1,"position":[960,0],"id":"b063250d-6fc1-4970-99f1-71df9ebb7dec","name":"DeepSeek R1","credentials":{"ollamaApi":{"id":"kERtHI8L518yEI0u","name":"Ollama account"}}},{"parameters":{"content":"## OCR Stage\n- Receives image messages from **LINE OA**  \n- Uses **deepseek-ocr** to extract text and main content from the image","height":528,"width":896},"type":"n8n-nodes-base.stickyNote","position":[0,-160],"typeVersion":1,"id":"51b2b165-5082-445c-8a8a-f891ff99c6bf","name":"Sticky Note"},{"parameters":{"content":"## Reply Generation Stage\n- Interprets OCR output using **deepseek-r1** model \n- Generates and sends a short Traditional Chinese reply via **LINE OA**","height":528,"width":640,"color":4},"type":"n8n-nodes-base.stickyNote","position":[896,-160],"typeVersion":1,"id":"169208ef-63df-45a2-9702-3ca1064c3d9c","name":"Sticky Note1"},{"parameters":{"events":["message"]},"type":"@aotoki/n8n-nodes-line-messaging.lineMessagingTrigger","typeVersion":1,"position":[64,96],"id":"adb21f54-3435-43b2-bafa-e8ccab34b1a5","name":"LINE OA message trigger","webhookId":"aab6ec0e-bb39-43d7-a0cf-d4216e102146","notesInFlow":false,"credentials":{"lineMessagingApi":{"id":"9S0vUdwTAOV7FTxu","name":"Line Messaging account"}}},{"parameters":{"messageId":"={{ $json.message.id }}","additionalOptions":{}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessagingData","typeVersion":1,"position":[512,0],"id":"ea264240-0d7d-46fb-b14d-6061157371a2","name":"Get Image Data","credentials":{"lineMessagingApi":{"id":"9S0vUdwTAOV7FTxu","name":"Line Messaging account"}}},{"parameters":{"operation":"send","to":"U40ea28c1fdc187e0163a62355383e451","messages":{"values":[{"text":"={{ $json.content }}"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1312,0],"id":"ff8f7433-9214-4c1c-a095-d56bf127f1d3","name":"Greeting Response","credentials":{"lineMessagingApi":{"id":"9S0vUdwTAOV7FTxu","name":"Line Messaging account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3fdbb1da-d85e-483b-a087-db07e059902c","leftValue":"={{ $json.message.type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[288,96],"id":"55306571-2b0f-4beb-8313-bcf9fe02a030","name":"Is it an Image?"},{"parameters":{"operation":"send","to":"U40ea28c1fdc187e0163a62355383e451","messages":{"values":[{"text":"請提供一張長輩圖，我會幫你生成合適的回覆詞喔～～"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[512,192],"id":"2d7f7c8a-8c35-4907-b2aa-2612730e498c","name":"Default message","credentials":{"lineMessagingApi":{"id":"9S0vUdwTAOV7FTxu","name":"Line Messaging account"}}}],"connections":{"DeepSeek OCR":{"main":[[{"node":"DeepSeek R1","type":"main","index":0}]]},"DeepSeek R1":{"main":[[{"node":"Greeting Response","type":"main","index":0}]]},"LINE OA message trigger":{"main":[[{"node":"Is it an Image?","type":"main","index":0}]]},"Get Image Data":{"main":[[{"node":"DeepSeek OCR","type":"main","index":0}]]},"Is it an Image?":{"main":[[{"node":"Get Image Data","type":"main","index":0}],[{"node":"Default message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f542a431-900c-4a0d-84dd-937a19500a10","activeVersionId":null,"versionCounter":26,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-30T15:14:06.525Z","createdAt":"2025-12-30T15:14:06.525Z","role":"workflow:owner","workflowId":"0eQHgknPMGc978z9","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2025-12-30T15:52:53.550Z","createdAt":"2025-12-30T15:15:17.407Z","id":"CmXd8eVmF0WV9iYF","name":"Research-Paper Assistant","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Document Extracter","formFields":{"values":[{"fieldLabel":"Upload a file...","fieldType":"file","multipleFiles":false,"acceptFileTypes":".pdf"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[0,0],"id":"f96509db-1633-471e-be53-c4054d5215f0","name":"On form submission","webhookId":"61984594-e0c4-4bd9-a0ca-56d744f4ec56"},{"parameters":{"dataType":"binary","loader":"pdfLoader","textSplittingMode":"custom","options":{"splitPages":true}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[384,240],"id":"83e0826d-9b08-433d-a086-773a33804081","name":"Default Data Loader1"},{"parameters":{"mode":"insert","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[288,16],"id":"2e01033c-4297-4ce9-a983-62d451f8c458","name":"Postgres PGVector Store"},{"parameters":{"chunkOverlap":150,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[352,480],"id":"27fe0daa-dedc-4247-845a-621ee276521a","name":"Recursive Character Text Splitter"},{"parameters":{"options":{"systemMessage":"=You are a research-paper discussion assistant.\n\nGoal:\nHelp the user understand and discuss the indexed paper(s): summarize, explain methods, interpret results, compare concepts, and answer detailed questions.\n\nRetrieval-first rule (critical):\nWhen the user’s question is about the paper(s), ALWAYS use the retrieval tool to fetch relevant passages BEFORE answering.\nBase your answer strictly on the retrieved passages. Do not invent details that are not supported.\n\nIf information is missing:\nIf the retrieved passages do not contain enough evidence to answer, say so clearly (e.g., “I can’t find this in the indexed paper.”).\nThen suggest what to search for next (e.g., which section/keywords) or ask a targeted follow-up question.\n\nHow to respond:\n- Be concise, clear, and technically accurate.\n- Prefer structured output when helpful: short bullets, steps, or small sections.\n- Explain jargon briefly when it appears.\n- When the user asks for “highlights” or “key points”, provide: (1) main contribution, (2) method overview, (3) notable results, (4) limitations/assumptions, all grounded in retrieved text.\n- When the user asks “why” or “how”, trace the reasoning using the retrieved text and avoid speculation.\n\nUse of citations:\nWhen possible, quote short phrases (not long) from the retrieved passages to support claims.\nIf page numbers or source identifiers are present in the retrieved metadata, include them in a lightweight way (e.g., “(p. 5)”).\n\nConversation behavior:\n- Maintain context across turns (what paper/topic the user is referring to).\n- If multiple retrieved passages conflict, mention the ambiguity and show both interpretations.\n- Do not mention internal tool names, database details, or implementation specifics.\n\nLanguage:\nReply in the user’s language. If the user writes in Chinese, respond in Traditional Chinese; if the user writes in English, respond in English.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1040,0],"id":"87ed8243-f5ff-4b64-9d1c-e27dc029b77e","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[752,0],"id":"0186d456-922d-4722-ad1a-46f6d3686897","name":"When chat message received","webhookId":"c029f1cb-0c8d-46a6-b565-1ca1ee20979d"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"=Search relevant passages from the indexed document using semantic similarity.\nUse this tool when the user asks questions about the document's content.\n","topK":5,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.3,"position":[1232,224],"id":"ef5273ee-48b3-47c1-a72b-1904e01bc2a5","name":"search_document"},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[256,240],"id":"64377ad0-4d52-4b91-8ad1-edbe1c8b7890","name":"nomic-embed-text","credentials":{"ollamaApi":{"id":"kERtHI8L518yEI0u","name":"Ollama account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1104,224],"id":"0fcd0071-038f-4683-a146-409f4ef85af9","name":"Memory"},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1312,432],"id":"b2b79363-faba-4a95-acd9-a7a0b2229158","name":"nomic-embed-text1","credentials":{"ollamaApi":{"id":"kERtHI8L518yEI0u","name":"Ollama account"}}},{"parameters":{"model":"llama3.1:8b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[976,224],"id":"7df37b26-b44e-463e-a523-3a26c75a15e0","name":"Llama 3.1","credentials":{"ollamaApi":{"id":"kERtHI8L518yEI0u","name":"Ollama account"}}}],"connections":{"On form submission":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"search_document":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"nomic-embed-text":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"nomic-embed-text1":{"ai_embedding":[[{"node":"search_document","type":"ai_embedding","index":0}]]},"Llama 3.1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"c3e4e239-faa0-402e-b1a4-5deb487d4a52","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-30T15:15:17.407Z","createdAt":"2025-12-30T15:15:17.407Z","role":"workflow:owner","workflowId":"CmXd8eVmF0WV9iYF","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-10T05:14:45.860Z","createdAt":"2026-01-10T05:14:28.432Z","id":"qpv4GVE68IWp0F7p","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e188bdab-789e-4643-b264-43755caaacd1","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-10T05:14:28.432Z","createdAt":"2026-01-10T05:14:28.432Z","role":"workflow:owner","workflowId":"qpv4GVE68IWp0F7p","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-19T13:21:53.695Z","createdAt":"2026-01-16T14:43:37.870Z","id":"dHGJooDpoiRZlkIq","name":"Append Daily 539","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2139219197,"mode":"list","cachedResultName":"今彩 539 中獎號碼","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=2139219197"},"columns":{"mappingMode":"defineBelow","value":{"日期":"={{ $now.format('yyyy-MM-dd') }}","星期":"={{ $now.weekday }}","號碼［1］":"={{ $json.content.daily539Res[0].drawNumberSize[0] }}","號碼［2］":"={{ $json.content.daily539Res[0].drawNumberSize[1] }}","號碼［3］":"={{ $json.content.daily539Res[0].drawNumberSize[2] }}","號碼［4］":"={{ $json.content.daily539Res[0].drawNumberSize[3] }}","號碼［5］":"={{ $json.content.daily539Res[0].drawNumberSize[4] }}"},"matchingColumns":[],"schema":[{"id":"日期","displayName":"日期","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"星期","displayName":"星期","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［1］","displayName":"號碼［1］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［2］","displayName":"號碼［2］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［3］","displayName":"號碼［3］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［4］","displayName":"號碼［4］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［5］","displayName":"號碼［5］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[368,-784],"id":"c70d75b9-fd89-43d9-a03e-9f6793bc1e5f","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"url":"=https://api.taiwanlottery.com/TLCAPIWeB/Lottery/Daily539Result","sendQuery":true,"queryParameters":{"parameters":[{"name":"month","value":"={{ $today.format('yyyy-MM') }}"},{"name":"pageSize","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-80,-672],"id":"507c1a7e-7c2c-429e-99ae-cfd0ba7e07d3","name":"Get 今彩 539 endpoint"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"73dbd805-45f6-4c59-9b4b-f7caee834ed4","leftValue":"={{ $json.content.daily539Res[0].lotteryDate.toDateTime().format('yyyy-MM-dd')}}","rightValue":"={{ $now.format('yyyy-MM-dd')}}","operator":{"type":"dateTime","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[144,-736],"id":"3df54926-8571-43d2-bdf1-f3232ad56688","name":"判斷本日號碼是否更新"},{"parameters":{"amount":2,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[368,-576],"id":"2575e8ba-408c-42a1-a595-1168c3969266","name":"Wait 2 mins","webhookId":"3e364efd-f376-4568-ac24-28a3c7c380a6"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"50 21 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-304,-672],"id":"80ecc813-1a3a-438f-ac34-3896d4dab111","name":"週一～六 21:50"}],"connections":{"Get 今彩 539 endpoint":{"main":[[{"node":"判斷本日號碼是否更新","type":"main","index":0}]]},"判斷本日號碼是否更新":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Wait 2 mins","type":"main","index":0}]]},"Wait 2 mins":{"main":[[{"node":"Get 今彩 539 endpoint","type":"main","index":0}]]},"週一～六 21:50":{"main":[[{"node":"Get 今彩 539 endpoint","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timeSavedMode":"fixed","timezone":"Asia/Taipei","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"executionTimeout":3600},"staticData":{"node:週一～六 20:32":{"recurrenceRules":[]},"node:週一～六 20:40":{"recurrenceRules":[]},"node:週一～六 21:50":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7b7abee4-c6dc-4c3d-8f4f-8f708b5f5520","activeVersionId":null,"versionCounter":40,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-16T14:43:37.870Z","createdAt":"2026-01-16T14:43:37.870Z","role":"workflow:owner","workflowId":"dHGJooDpoiRZlkIq","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-17T12:29:20.084Z","createdAt":"2026-01-17T00:53:35.817Z","id":"41EqQTxID2u8f3pl","name":"My workflow 3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[96,-16],"id":"7bc6fcb9-f9e6-40d0-89bb-6b94f3d98d77","name":"AI Agent"},{"parameters":{"model":"meta-llama/llama-4-maverick-17b-128e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[176,208],"id":"719519e7-6415-4608-abbf-ae210b320974","name":"Groq Chat Model","credentials":{"groqApi":{"id":"N8ghbnX31mBpunvp","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-128,-16],"id":"5b46be68-3f50-4566-a1d1-5a8da01e9c6a","name":"When chat message received","webhookId":"fc467941-ac24-4207-94b9-484e0897eccf"}],"connections":{"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b8f1841b-8c77-46e4-9270-e3d8f5fcee76","activeVersionId":null,"versionCounter":6,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-17T00:53:35.817Z","createdAt":"2026-01-17T00:53:35.817Z","role":"workflow:owner","workflowId":"41EqQTxID2u8f3pl","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T13:17:47.852Z","createdAt":"2026-01-17T12:43:05.155Z","id":"xBpQ_ATKeskiVpAfBsJdx","name":"My Testing workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[96,-16],"id":"7bc6fcb9-f9e6-40d0-89bb-6b94f3d98d77","name":"AI Agent"},{"parameters":{"model":"meta-llama/llama-4-maverick-17b-128e-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[176,208],"id":"719519e7-6415-4608-abbf-ae210b320974","name":"Groq Chat Model","credentials":{"groqApi":{"id":"N8ghbnX31mBpunvp","name":"Groq account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-128,-16],"id":"5b46be68-3f50-4566-a1d1-5a8da01e9c6a","name":"When chat message received","webhookId":"fc467941-ac24-4207-94b9-484e0897eccf"}],"connections":{},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"187cb2ec-6938-4afd-982d-370c84d3d2bf","activeVersionId":"187cb2ec-6938-4afd-982d-370c84d3d2bf","versionCounter":30,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-17T12:43:05.155Z","createdAt":"2026-01-17T12:43:05.155Z","role":"workflow:owner","workflowId":"xBpQ_ATKeskiVpAfBsJdx","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-19T13:21:44.476Z","createdAt":"2026-01-17T15:53:36.504Z","id":"0u_oGAiPGL_o8JaVR3lFt","name":"Search + AI Summary","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2139219197,"mode":"list","cachedResultName":"今彩 539 中獎號碼","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=2139219197"},"columns":{"mappingMode":"defineBelow","value":{"日期":"={{ $now.format('yyyy-MM-dd') }}","星期":"={{ $now.weekday }}","號碼［1］":"={{ $json.output.numbers[0] }}","號碼［2］":"={{ $json.output.numbers[1] }}","號碼［3］":"={{ $json.output.numbers[2] }}","號碼［4］":"={{ $json.output.numbers[3] }}","號碼［5］":"={{ $json.output.numbers[4] }}"},"matchingColumns":[],"schema":[{"id":"日期","displayName":"日期","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"星期","displayName":"星期","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［1］","displayName":"號碼［1］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［2］","displayName":"號碼［2］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［3］","displayName":"號碼［3］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［4］","displayName":"號碼［4］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［5］","displayName":"號碼［5］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1456,0],"id":"103af5fc-e014-4473-a9b1-259dc1bb2af8","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"40 20 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,176],"id":"e032782f-21ff-4bc9-9fe1-9693e61b0e38","name":"週一～六 20:40"},{"parameters":{"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1456,272],"id":"357cea9d-7dae-4024-85a4-0568e9fa2bef","name":"Wait 5 mins","webhookId":"8efabfe6-a8c1-413d-8fda-3cbd7e927b7f"},{"parameters":{"jsonSchemaExample":"{\n\t\"numbers\": [3, 5, 15, 22, 36]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1024,272],"id":"4a681157-857f-44c3-b776-4299d3e6b33f","name":"Output Parser"},{"parameters":{"model":"openai/gpt-oss-20b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[896,272],"id":"b47467e7-6040-4f42-9ee0-b27cd42d8769","name":"Groq LLM","credentials":{"groqApi":{"id":"N8ghbnX31mBpunvp","name":"Groq account"}}},{"parameters":{"content":"## Google Search\n- 每週一～六晚上 20:40，透過 SerpAPI 進行 Google Search\n- 僅保留十則搜尋結果，擷取成片段交付給後續 AI 進行摘要","height":672,"width":720},"type":"n8n-nodes-base.stickyNote","position":[-128,-192],"typeVersion":1,"id":"4305c7c8-9de4-432d-bd0f-501e0102ef29","name":"Sticky Note"},{"parameters":{"content":"## AI Summary & Google Sheets Append\n- 讓 LLM 分析十則搜尋結果，摘要出本日中獎的號碼並由小到大排序\n- System Prompt: 明確註記今天日期，以及目標是「今彩 539」","height":672,"width":1072,"color":4},"type":"n8n-nodes-base.stickyNote","position":[592,-192],"typeVersion":1,"id":"b1979527-1d40-4056-a3e4-ef1765e351a6","name":"Sticky Note1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"d01dffc9-b16f-4db1-bd45-c4a5ec44fb13","leftValue":"={{ $json.output.numbers }}","rightValue":5,"operator":{"type":"array","operation":"lengthEquals","rightType":"number"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1232,48],"id":"df942e40-b75e-4c44-8350-0992f0bf5fd5","name":"是否有判斷出五個號碼"},{"parameters":{"promptType":"define","text":"={{ $json.table }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=根據接收到的內容，找出今日（{{ $now.format('MM/dd') }}）的五位中獎號碼，並由小到大排序"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[880,48],"id":"06214290-70c6-412d-9f99-10f716811608","name":"Basic LLM Chain"},{"parameters":{"q":"={{ $now.format('yyyy/MM/dd') }} 今彩539開獎號碼查詢","location":"Taiwan","additionalFields":{"gl":"tw","hl":"zh-tw","as_qdr":"d","num":"10"},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[224,176],"id":"2f3f45dc-f4c4-4e33-95ae-7ad0d2942706","name":"搜尋本日中獎號碼","credentials":{"serpApi":{"id":"7sLquUt0yNcdH65o","name":"SerpApi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"35866bba-4aa4-4561-b331-9365ade1f693","name":"organic_results","value":"={{ $json.organic_results.map(item => item.snippet) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,48],"id":"f2b1d8bc-065c-4f25-a6bc-7819f02e5011","name":"擷取片段"}],"connections":{"週一～六 20:40":{"main":[[{"node":"搜尋本日中獎號碼","type":"main","index":0}]]},"Wait 5 mins":{"main":[[{"node":"搜尋本日中獎號碼","type":"main","index":0}]]},"Output Parser":{"ai_outputParser":[[{"node":"Basic LLM Chain","type":"ai_outputParser","index":0}]]},"Groq LLM":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"是否有判斷出五個號碼":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Wait 5 mins","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"是否有判斷出五個號碼","type":"main","index":0}]]},"搜尋本日中獎號碼":{"main":[[{"node":"擷取片段","type":"main","index":0}]]},"擷取片段":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Asia/Taipei","callerPolicy":"workflowsFromSameOwner","executionTimeout":1800},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4760fdb3-91a5-4097-a8be-d400ad859651","activeVersionId":null,"versionCounter":27,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-17T15:53:36.504Z","createdAt":"2026-01-17T15:53:36.504Z","role":"workflow:owner","workflowId":"0u_oGAiPGL_o8JaVR3lFt","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-18T08:54:57.886Z","createdAt":"2026-01-18T05:40:38.100Z","id":"Jnxt4f1NCbGg81hYRT8WC","name":"Cold Start","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"c8eaae89-5a76-45be-923c-8827482e7a8c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"c9d0236d-63ad-4d1d-853e-905ef5be7c6e","name":"Webhook","webhookId":"c8eaae89-5a76-45be-923c-8827482e7a8c"}],"connections":{},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"916180e0-13cf-4420-9df1-ccb671e71f6e","activeVersionId":"916180e0-13cf-4420-9df1-ccb671e71f6e","versionCounter":22,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-18T05:40:38.100Z","createdAt":"2026-01-18T05:40:38.100Z","role":"workflow:owner","workflowId":"Jnxt4f1NCbGg81hYRT8WC","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-24T13:47:09.279Z","createdAt":"2026-01-18T13:28:49.953Z","id":"0D3HunyQfXOATm1eQBIvD","name":"Pre-Processing Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-48,-280],"id":"298c804c-4281-4609-b0d7-50f70e77d450","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"c4d8bafa-1b55-474c-bd13-e0a5e34a0722","name":"數字組合","value":"={{ $json['數字組合'] }}","type":"array"},{"id":"012142f4-3096-4ad4-ac23-5097d61c043c","name":"1K","value":"={{ $json['1K'] }}","type":"number"},{"id":"fb23d147-780d-480a-939d-215b7fb3bfe2","name":"2K","value":"={{ $json['2K'] }}","type":"number"},{"id":"83130cbb-7ffd-46da-aec6-e79b45d7474f","name":"3K","value":"={{ $json['3K'] }}","type":"number"},{"id":"e7313925-968d-4c64-89f7-d33f4c28fba6","name":"4K","value":"={{ $json['4K'] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[400,-352],"id":"925e841c-010d-4eec-97fe-84d3cccd64ab","name":"Convert Column Type"},{"parameters":{"assignments":{"assignments":[{"id":"807fc8f9-8221-4150-b0d5-73369cbb5c41","name":"count_arr","value":"={{ $json['數字組合'].map(item => item.length) }}","type":"array"},{"id":"03e5ce0b-20be-4ff9-8ba5-a7567415dfd1","name":"weight_arr","value":"={{ Array($json['1K'], $json['2K'], $json['3K'], $json['4K']) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,-352],"id":"6405b08b-26d9-4f17-8b31-8af1305f50ec","name":"Extract Count / Weight Array"},{"parameters":{"documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1201440298,"mode":"list","cachedResultName":"本日下注表","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=1201440298"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":2,"firstDataRow":3}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[176,-352],"id":"6b28e361-db82-4231-892a-e22cc3b8bea8","name":"Get 本日下注表","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":223353000,"mode":"list","cachedResultName":"Config","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=223353000"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":2,"firstDataRow":3}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[624,32],"id":"28dbae4d-0cfa-460e-873c-09784da2a9ef","name":"Get Config","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aaed2700-6b3f-4bdf-8ee0-b79e2e896bf6","leftValue":"={{ $json['角色'] }}","rightValue":"下游","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[848,128],"id":"3af1c884-1b4c-486f-ae25-242c46900709","name":"Filter 下游"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28962ba9-3949-4c17-b00b-7e1e32b3bfdb","leftValue":"={{ $json['角色'] }}","rightValue":"上游","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[848,-64],"id":"d3f15968-02f6-4cd0-a226-b0623f602cd8","name":"Filter 上游"},{"parameters":{"assignments":{"assignments":[{"id":"1ba4ae34-547e-43b1-abad-09a447f373fa","name":"down_stream","value":"={{ $json['名稱'] }}","type":"string"},{"id":"81e173dd-8cbf-4918-9859-9305e9dc85fb","name":"cost_arr","value":"={{ Array($json['1K (pre.)'], $json['2K (pre.)'], $json['3K (pre.)'], $json['4K (pre.)']) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,128],"id":"e72af4d8-e294-43d3-8d6f-e878f49fcce3","name":"Concat Cost Array"},{"parameters":{"assignments":{"assignments":[{"id":"62aadae2-8fad-4fa4-884c-a0c2a9f4d6f5","name":"up_stream","value":"={{ $json['名稱'] }}","type":"string"},{"id":"9dafd670-de03-4645-9731-318429308502","name":"rev_array","value":"={{ Array($json['1K (pre.)'], $json['2K (pre.)'], $json['3K (pre.)'], $json['4K (pre.)']) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,-64],"id":"c6a42f51-d5a9-4180-a2e5-5f3da7d32419","name":"Concat Rev. Array"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Inputs from previous node\nconst count_arr = $json.count_arr ?? [];\nconst weight_arr = $json.weight_arr ?? [];\n\nfunction isActiveWeight(w) {\n  return w !== null && w !== undefined && Number(w) !== 0;\n}\n\nfunction sumProductOfKCombinations(arr, k) {\n  const n = arr.length;\n  if (k > n || k <= 0) return 0;\n\n  let total = 0;\n  const combo = new Array(k);\n\n  function dfs(start, depth) {\n    if (depth === k) {\n      let product = 1;\n      for (let i = 0; i < k; i++) product *= combo[i];\n      total += product;\n      return;\n    }\n\n    for (let i = start; i <= n - (k - depth); i++) {\n      combo[depth] = arr[i];\n      dfs(i + 1, depth + 1);\n    }\n  }\n\n  dfs(0, 0);\n  return total;\n}\n\nconst result_arr = [0, 0, 0, 0];\n\nfor (let i = 0; i < 4; i++) {\n  const w = weight_arr[i];\n  const k = i + 1;\n\n  // 🚫 不啟動條件\n  if (!isActiveWeight(w) || k > count_arr.length) {\n    result_arr[i] = 0;\n    continue;\n  }\n\n  // ✅ 啟動計算\n  result_arr[i] = sumProductOfKCombinations(count_arr, k);\n}\n\n$json.result_arr = result_arr;\nreturn $json;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[848,-352],"id":"cb173ff6-5e81-454a-8d51-64d0ad5d671f","name":"Compute Combinations"},{"parameters":{"assignments":{"assignments":[{"id":"1d8a3098-9396-4b2e-874e-ec5f566b80f2","name":"up_stream","value":"={{ $('Get 本日下注表').item.json['上游'] }}","type":"string"},{"id":"cbc023ac-9f6b-4bba-8877-c155d93c029c","name":"result_arr","value":"={{ $json.result_arr }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,-448],"id":"b97ef24d-4164-472d-9019-49ec2edce1be","name":"Upstream Comb. Array"},{"parameters":{"assignments":{"assignments":[{"id":"961216af-83d8-473c-b260-301e9462ec81","name":"down_stream","value":"={{ $('Get 本日下注表').item.json['下游'] }}","type":"string"},{"id":"451b7284-e236-4702-9c1e-2f01042ca167","name":"result_arr","value":"={{ $json.result_arr }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,-256],"id":"95f92751-8457-4f9e-b275-7d5a7d08a8a9","name":"Downstream Comb. Array"},{"parameters":{"mode":"combine","fieldsToMatchString":"down_stream","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,-64],"id":"df7f3e36-f3b3-403b-8eff-a9b05fd30721","name":"Merge Downstream Info."},{"parameters":{"mode":"combine","fieldsToMatchString":"up_stream","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,-256],"id":"0393ec8e-a6d3-499c-85de-d8ed1be00947","name":"Merge Upstream Info."},{"parameters":{"assignments":{"assignments":[{"id":"62bde609-82fa-44d5-8a10-e167bd8d6d7a","name":"up_stream","value":"={{ $json.up_stream }}","type":"string"},{"id":"bd3628f5-76a3-43cc-9b8d-6bc43a9dd8df","name":"revenue","value":"={{ $json.rev_array.reduce((sum, v, i) => sum + v * $json.result_arr[i], 0) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,-256],"id":"a779fa89-0f51-4d10-8f7b-4621664e540d","name":"Upstream Inner Product"},{"parameters":{"assignments":{"assignments":[{"id":"ce261773-8c83-47a7-842f-549575910606","name":"down_stream","value":"={{ $json.down_stream }}","type":"string"},{"id":"c79f6595-388a-4091-ae76-2b31b89b54a0","name":"cost","value":"={{ $json.cost_arr.reduce((sum, v, i) => sum + v * $json.result_arr[i], 0) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1520,-64],"id":"2628d1c2-d992-467b-a3e2-2f510e68ff23","name":"Downstream Inner Product"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"revenue"}]},"fieldsToSplitBy":"up_stream","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1744,-256],"id":"10b5481c-5230-4400-b3d5-374bfbe91667","name":"Sum Upstream Rev."},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"cost"}]},"fieldsToSplitBy":"down_stream","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1744,-64],"id":"28931291-72ff-412d-a159-f63c6c296c8c","name":"Sum Downstream Cost"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":81369556,"mode":"list","cachedResultName":"本日總收支","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=81369556"},"columns":{"mappingMode":"defineBelow","value":{"姓名":"={{ $json.up_stream }}","總收入":"={{ $json.sum_revenue }}"},"matchingColumns":["姓名"],"schema":[{"id":"姓名","displayName":"姓名","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"總支出","displayName":"總支出","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"總收入","displayName":"總收入","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"總利潤","displayName":"總利潤","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1968,-256],"id":"8e12b9ec-884a-458f-9818-83d0283ff76a","name":"Update 本日總收支","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":81369556,"mode":"list","cachedResultName":"本日總收支","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=81369556"},"columns":{"mappingMode":"defineBelow","value":{"姓名":"={{ $json.down_stream }}","總支出":"={{ $json.sum_cost }}"},"matchingColumns":["姓名"],"schema":[{"id":"姓名","displayName":"姓名","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"總支出","displayName":"總支出","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"總收入","displayName":"總收入","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"總利潤","displayName":"總利潤","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1968,-64],"id":"8d3be155-2d2a-40cb-b8e4-0b08e850d47e","name":"Update 本日總收支1","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"httpMethod":"POST","path":"pre-processing","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-48,80],"id":"d12957c7-96fd-48ca-ad97-a87da4f5bf32","name":"Webhook","webhookId":"76fc1b69-ca3f-4918-be95-9c90a98aae0f"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get 本日下注表","type":"main","index":0},{"node":"Get Config","type":"main","index":0}]]},"Convert Column Type":{"main":[[{"node":"Extract Count / Weight Array","type":"main","index":0}]]},"Extract Count / Weight Array":{"main":[[{"node":"Compute Combinations","type":"main","index":0}]]},"Get 本日下注表":{"main":[[{"node":"Convert Column Type","type":"main","index":0}]]},"Get Config":{"main":[[{"node":"Filter 下游","type":"main","index":0},{"node":"Filter 上游","type":"main","index":0}]]},"Filter 下游":{"main":[[{"node":"Concat Cost Array","type":"main","index":0}]]},"Filter 上游":{"main":[[{"node":"Concat Rev. Array","type":"main","index":0}]]},"Concat Cost Array":{"main":[[{"node":"Merge Downstream Info.","type":"main","index":1}]]},"Concat Rev. Array":{"main":[[{"node":"Merge Upstream Info.","type":"main","index":1}]]},"Compute Combinations":{"main":[[{"node":"Downstream Comb. Array","type":"main","index":0},{"node":"Upstream Comb. Array","type":"main","index":0}]]},"Upstream Comb. Array":{"main":[[{"node":"Merge Upstream Info.","type":"main","index":0}]]},"Downstream Comb. Array":{"main":[[{"node":"Merge Downstream Info.","type":"main","index":0}]]},"Merge Downstream Info.":{"main":[[{"node":"Downstream Inner Product","type":"main","index":0}]]},"Merge Upstream Info.":{"main":[[{"node":"Upstream Inner Product","type":"main","index":0}]]},"Upstream Inner Product":{"main":[[{"node":"Sum Upstream Rev.","type":"main","index":0}]]},"Downstream Inner Product":{"main":[[{"node":"Sum Downstream Cost","type":"main","index":0}]]},"Sum Upstream Rev.":{"main":[[{"node":"Update 本日總收支","type":"main","index":0}]]},"Sum Downstream Cost":{"main":[[{"node":"Update 本日總收支1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get 本日下注表","type":"main","index":0},{"node":"Get Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a566e34d-e3fe-413a-b483-1a190d7043dc","activeVersionId":"a566e34d-e3fe-413a-b483-1a190d7043dc","versionCounter":22,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-18T13:28:49.953Z","createdAt":"2026-01-18T13:28:49.953Z","role":"workflow:owner","workflowId":"0D3HunyQfXOATm1eQBIvD","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-19T12:38:26.862Z","createdAt":"2026-01-19T12:17:15.478Z","id":"GvBsBHQZj8rAuBlm","name":"LINE OA 長輩圖回應生成器 v2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"events":["message"]},"type":"@aotoki/n8n-nodes-line-messaging.lineMessagingTrigger","typeVersion":1,"position":[64,96],"id":"cc8ecb9d-5fe4-42c8-8539-379c0c7dc43f","name":"LINE OA message trigger","webhookId":"db029f2a-02be-4502-a526-35c1a84e15cb","notesInFlow":false,"credentials":{"lineMessagingApi":{"id":"9S0vUdwTAOV7FTxu","name":"Line Messaging account"}}},{"parameters":{"messageId":"={{ $json.message.id }}","additionalOptions":{}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessagingData","typeVersion":1,"position":[512,0],"id":"e5283328-da6c-43d5-a354-00aa66112f5a","name":"Get Image Data","credentials":{"lineMessagingApi":{"id":"9S0vUdwTAOV7FTxu","name":"Line Messaging account"}}},{"parameters":{"operation":"send","to":"U40ea28c1fdc187e0163a62355383e451","messages":{"values":[{"text":"={{ $json.output }}"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[1088,0],"id":"1c1e3ec6-0805-48df-88a5-1c0643ced60f","name":"Greeting Response","credentials":{"lineMessagingApi":{"id":"9S0vUdwTAOV7FTxu","name":"Line Messaging account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"3fdbb1da-d85e-483b-a087-db07e059902c","leftValue":"={{ $json.message.type }}","rightValue":"image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[288,96],"id":"f6bb8df2-116f-43bd-8d34-d96750b59111","name":"Is it an Image?"},{"parameters":{"operation":"send","to":"U40ea28c1fdc187e0163a62355383e451","messages":{"values":[{"text":"請提供一張長輩圖，我會幫你生成合適的回覆詞喔～～"}]}},"type":"@aotoki/n8n-nodes-line-messaging.lineMessaging","typeVersion":1,"position":[512,192],"id":"e48776d8-1021-4e4f-a685-a36094fbf1e0","name":"Default message","credentials":{"lineMessagingApi":{"id":"9S0vUdwTAOV7FTxu","name":"Line Messaging account"}}},{"parameters":{"promptType":"define","text":"={{ $binary.data }}","options":{"systemMessage":"=你是一個禮貌回覆生成器。\n\n你會接收到一張圖片，圖片可能包含繁體中文文字與祝福意境。\n\n請理解圖片內容與情緒，生成一段合適的回覆。\n\n輸出規則（嚴格遵守）：\n- 僅輸出回覆文字，不要有其他說明\n- 使用繁體中文\n- 字數約 15～25 字\n- 不要使用表情符號\n- 語氣溫和有禮，像晚輩回覆長輩\n- 回覆內容需與圖片意境或文字相呼應\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[736,0],"id":"62f090ec-5211-45ba-8c32-0365d022d456","name":"AI Agent"},{"parameters":{"model":"meta-llama/llama-4-maverick-17b-128e-instruct","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[808,224],"id":"6d468855-876f-4729-b8c1-10db9dcf5bbb","name":"Groq Chat Model","credentials":{"groqApi":{"id":"N8ghbnX31mBpunvp","name":"Groq account"}}}],"connections":{"LINE OA message trigger":{"main":[[{"node":"Is it an Image?","type":"main","index":0}]]},"Get Image Data":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Is it an Image?":{"main":[[{"node":"Get Image Data","type":"main","index":0}],[{"node":"Default message","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Greeting Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"941324cd-4115-470a-b013-22b0c817e019","activeVersionId":"941324cd-4115-470a-b013-22b0c817e019","versionCounter":40,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-19T12:17:15.478Z","createdAt":"2026-01-19T12:17:15.478Z","role":"workflow:owner","workflowId":"GvBsBHQZj8rAuBlm","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-24T14:46:23.313Z","createdAt":"2026-01-19T13:22:12.051Z","id":"ZhLuML_zoPSk4fLq2tyOL","name":"Web Scraping & Googe Sheet Append","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://www.pilio.idv.tw/lto539/list.asp","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[240,120],"id":"8fce9959-3fbb-4688-9372-f63e37353d6b","name":"HTTP Request"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"40 20 * * 1-6"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-208,24],"id":"46eb9733-8206-4eff-86b9-e813f204d847","name":"週一～六 20:40"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2139219197,"mode":"list","cachedResultName":"今彩 539 中獎號碼","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=2139219197"},"columns":{"mappingMode":"defineBelow","value":{"日期":"={{ $now.format('yyyy-MM-dd') }}","星期":"={{ $now.weekday }}","號碼［1］":"={{ $json.number[0] }}","號碼［2］":"={{ $json.number[1] }}","號碼［3］":"={{ $json.number[2] }}","號碼［4］":"={{ $json.number[3] }}","號碼［5］":"={{ $json.number[4] }}"},"matchingColumns":[],"schema":[{"id":"日期","displayName":"日期","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"星期","displayName":"星期","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［1］","displayName":"號碼［1］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［2］","displayName":"號碼［2］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［3］","displayName":"號碼［3］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［4］","displayName":"號碼［4］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"號碼［5］","displayName":"號碼［5］","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1136,0],"id":"98722f65-53c6-4c3a-8ca6-48ac4f867a84","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"dates","cssSelector":".date-cell","returnArray":true},{"key":"numbers","cssSelector":".number-cell","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[464,48],"id":"177fbcdb-acf4-44fc-8768-e133e9347003","name":"Extract HTML Content"},{"parameters":{"assignments":{"assignments":[{"id":"1ac5d55b-00c3-42c3-8f1a-afa292021d12","name":"date","value":"={{ $json.dates[0] }}","type":"string"},{"id":"273ce11e-4d4e-47a2-b7c9-9b0281815f7e","name":"number","value":"={{ $json.numbers[0].split(',').map(item => Number(item)).sort((a, b) => a - b) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,48],"id":"8189a3ee-c451-44c9-bfb4-22aaaca91ad4","name":"只取出最新一天結果"},{"parameters":{"amount":3,"unit":"minutes"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1136,216],"id":"8c65e80f-9110-42cf-86ba-3ee4da63b65a","name":"Wait 3 mins","webhookId":"7b3a2eaa-6d60-439b-a1be-c992f4516fca"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"9028012d-0e6a-4aa2-87c0-d778350f563b","leftValue":"={{ $json.date }}","rightValue":"={{ $now.format('MM/dd') }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[912,48],"id":"7b886ecd-4773-4e47-b371-303c2e1c824f","name":"判斷今日結果更新"},{"parameters":{"httpMethod":"POST","path":"scrape-hits","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,216],"id":"e3f16c23-7b20-4278-9a57-8ab9e866aae4","name":"Webhook","webhookId":"f5f39dfa-5ada-44b4-89e3-58cab3537995"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[16,120],"id":"50b29fba-93e9-4c2d-991c-b5e19ec934a3","name":"No Operation, do nothing"}],"connections":{"HTTP Request":{"main":[[{"node":"Extract HTML Content","type":"main","index":0}]]},"週一～六 20:40":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Extract HTML Content":{"main":[[{"node":"只取出最新一天結果","type":"main","index":0}]]},"只取出最新一天結果":{"main":[[{"node":"判斷今日結果更新","type":"main","index":0}]]},"Wait 3 mins":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"判斷今日結果更新":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Wait 3 mins","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","executionTimeout":1800,"timezone":"Asia/Taipei"},"staticData":null,"meta":null,"pinData":{},"versionId":"cd77e9b2-c5e8-4cc6-912b-54142ad0e784","activeVersionId":"cd77e9b2-c5e8-4cc6-912b-54142ad0e784","versionCounter":36,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-01-19T13:22:12.051Z","createdAt":"2026-01-19T13:22:12.051Z","role":"workflow:owner","workflowId":"ZhLuML_zoPSk4fLq2tyOL","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-24T13:47:02.390Z","createdAt":"2026-01-24T12:48:24.257Z","id":"dDITfVQX2MsNS6UDZdZE7","name":"Post-Processing Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-208,168],"id":"8d0b840c-2f29-4190-abec-25a4b0f161ea","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"c4d8bafa-1b55-474c-bd13-e0a5e34a0722","name":"數字組合","value":"={{ $json['數字組合'] }}","type":"array"},{"id":"012142f4-3096-4ad4-ac23-5097d61c043c","name":"1K","value":"={{ $json['1K'] }}","type":"number"},{"id":"fb23d147-780d-480a-939d-215b7fb3bfe2","name":"2K","value":"={{ $json['2K'] }}","type":"number"},{"id":"83130cbb-7ffd-46da-aec6-e79b45d7474f","name":"3K","value":"={{ $json['3K'] }}","type":"number"},{"id":"e7313925-968d-4c64-89f7-d33f4c28fba6","name":"4K","value":"={{ $json['4K'] }}","type":"number"},{"id":"563e9ff6-081f-48a5-8d5d-99bae9735401","name":"hit_array","value":"={{ Array($('Get 中獎號碼').item.json['號碼［1］'], $('Get 中獎號碼').item.json['號碼［2］'], $('Get 中獎號碼').item.json['號碼［3］'], $('Get 中獎號碼').item.json['號碼［4］'], $('Get 中獎號碼').item.json['號碼［5］']) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[464,96],"id":"affd2b82-c863-45da-b1b7-e4bb2be3115a","name":"Convert Column Type"},{"parameters":{"assignments":{"assignments":[{"id":"807fc8f9-8221-4150-b0d5-73369cbb5c41","name":"count_arr","value":"={{ $json['數字組合'].map(item => item.filter(x => $json.hit_array.includes(x)).length) }}","type":"array"},{"id":"03e5ce0b-20be-4ff9-8ba5-a7567415dfd1","name":"weight_arr","value":"={{ Array($json['1K'], $json['2K'], $json['3K'], $json['4K']) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[688,96],"id":"2c6da23b-08d6-4efd-8675-302df999f3c6","name":"Extract Count / Weight Array"},{"parameters":{"documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1201440298,"mode":"list","cachedResultName":"本日下注表","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=1201440298"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":2,"firstDataRow":3}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[240,96],"id":"5b2b9d21-3e63-47cb-882c-df0ea0fa2cc4","name":"Get 本日下注表","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":223353000,"mode":"list","cachedResultName":"Config","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=223353000"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRange","headerRow":2,"firstDataRow":3}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,480],"id":"7ce8ff9b-89be-495c-b84b-b187e28dc490","name":"Get Config","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"aaed2700-6b3f-4bdf-8ee0-b79e2e896bf6","leftValue":"={{ $json['角色'] }}","rightValue":"下游","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[912,576],"id":"c5656f9f-5a19-4f00-84b2-53694e619a30","name":"Filter 下游"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"28962ba9-3949-4c17-b00b-7e1e32b3bfdb","leftValue":"={{ $json['角色'] }}","rightValue":"上游","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[912,384],"id":"e9583143-d016-49ac-9968-9106605fb4c9","name":"Filter 上游"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Inputs from previous node\nconst count_arr = $json.count_arr ?? [];\nconst weight_arr = $json.weight_arr ?? [];\n\nfunction isActiveWeight(w) {\n  return w !== null && w !== undefined && Number(w) !== 0;\n}\n\nfunction sumProductOfKCombinations(arr, k) {\n  const n = arr.length;\n  if (k > n || k <= 0) return 0;\n\n  let total = 0;\n  const combo = new Array(k);\n\n  function dfs(start, depth) {\n    if (depth === k) {\n      let product = 1;\n      for (let i = 0; i < k; i++) product *= combo[i];\n      total += product;\n      return;\n    }\n\n    for (let i = start; i <= n - (k - depth); i++) {\n      combo[depth] = arr[i];\n      dfs(i + 1, depth + 1);\n    }\n  }\n\n  dfs(0, 0);\n  return total;\n}\n\nconst result_arr = [0, 0, 0, 0];\n\nfor (let i = 0; i < 4; i++) {\n  const w = weight_arr[i];\n  const k = i + 1;\n\n  // 🚫 不啟動條件\n  if (!isActiveWeight(w) || k > count_arr.length) {\n    result_arr[i] = 0;\n    continue;\n  }\n\n  // ✅ 啟動計算\n  result_arr[i] = sumProductOfKCombinations(count_arr, k);\n}\n\n$json.result_arr = result_arr;\nreturn $json;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[912,96],"id":"8df5926f-ed63-479b-91d0-5d751add0ba8","name":"Compute Combinations"},{"parameters":{"assignments":{"assignments":[{"id":"1d8a3098-9396-4b2e-874e-ec5f566b80f2","name":"up_stream","value":"={{ $('Get 本日下注表').item.json['上游'] }}","type":"string"},{"id":"cbc023ac-9f6b-4bba-8877-c155d93c029c","name":"result_arr","value":"={{ $json.result_arr }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,0],"id":"d8a8af50-07a1-4ae7-9c7a-2435f9358dc4","name":"Upstream Comb. Array"},{"parameters":{"assignments":{"assignments":[{"id":"961216af-83d8-473c-b260-301e9462ec81","name":"down_stream","value":"={{ $('Get 本日下注表').item.json['下游'] }}","type":"string"},{"id":"451b7284-e236-4702-9c1e-2f01042ca167","name":"result_arr","value":"={{ $json.result_arr }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,192],"id":"d56e0668-b671-4b74-b3b3-e6f71ccd0d49","name":"Downstream Comb. Array"},{"parameters":{"mode":"combine","fieldsToMatchString":"down_stream","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1360,384],"id":"8452b32a-31f9-44c7-ad2b-658005ae1c3e","name":"Merge Downstream Info."},{"parameters":{"mode":"combine","fieldsToMatchString":"up_stream","joinMode":"enrichInput1","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1360,192],"id":"8e106593-cfaa-4939-8ec1-6cd3a1044527","name":"Merge Upstream Info."},{"parameters":{"assignments":{"assignments":[{"id":"62bde609-82fa-44d5-8a10-e167bd8d6d7a","name":"up_stream","value":"={{ $json.up_stream }}","type":"string"},{"id":"bd3628f5-76a3-43cc-9b8d-6bc43a9dd8df","name":"cost","value":"={{ $json.cost_array.reduce((sum, v, i) => sum + v * $json.result_arr[i], 0) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1584,192],"id":"9be2010f-644f-4be1-a686-c19792ed96b1","name":"Upstream Inner Product"},{"parameters":{"assignments":{"assignments":[{"id":"ce261773-8c83-47a7-842f-549575910606","name":"down_stream","value":"={{ $json.down_stream }}","type":"string"},{"id":"c79f6595-388a-4091-ae76-2b31b89b54a0","name":"revenue","value":"={{ $json.rev_arr.reduce((sum, v, i) => sum + v * $json.result_arr[i], 0) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1584,384],"id":"94390923-fa85-4bad-bd58-35c867916b79","name":"Downstream Inner Product"},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"cost"}]},"fieldsToSplitBy":"up_stream","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1808,192],"id":"2e0c7b31-c2d0-463e-9395-855a914db5b5","name":"Sum Upstream Rev."},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"sum","field":"revenue"}]},"fieldsToSplitBy":"down_stream","options":{}},"type":"n8n-nodes-base.summarize","typeVersion":1.1,"position":[1808,384],"id":"7e0705f6-3b85-40ca-aa91-5007f2659697","name":"Sum Downstream Cost"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":81369556,"mode":"list","cachedResultName":"本日總收支","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=81369556"},"columns":{"mappingMode":"defineBelow","value":{"姓名":"={{ $json.up_stream }}","總支出":"={{ $json.sum_cost }}"},"matchingColumns":["姓名"],"schema":[{"id":"姓名","displayName":"姓名","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"總支出","displayName":"總支出","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"總收入","displayName":"總收入","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"總利潤","displayName":"總利潤","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2032,192],"id":"b29340ca-b7cb-4a2f-97aa-8aa7ae40ce3b","name":"Update 本日總收支","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":81369556,"mode":"list","cachedResultName":"本日總收支","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=81369556"},"columns":{"mappingMode":"defineBelow","value":{"姓名":"={{ $json.down_stream }}","總收入":"={{ $json.sum_revenue }}"},"matchingColumns":["姓名"],"schema":[{"id":"姓名","displayName":"姓名","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"總支出","displayName":"總支出","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"總收入","displayName":"總收入","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"總利潤","displayName":"總利潤","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2032,384],"id":"7200066c-6ba9-42df-b388-09289e4917cb","name":"Update 本日總收支1","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q","mode":"list","cachedResultName":"兔爸の小助手","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2139219197,"mode":"list","cachedResultName":"今彩 539 中獎號碼","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YjBkD45YAZ2gkwke9PmkHM43AT5ysM4kPc8ld1J9V2Q/edit#gid=2139219197"},"filtersUI":{"values":[{"lookupColumn":"日期","lookupValue":"={{ $now.format('yyyy-MM-dd') }}"}]},"options":{"outputFormatting":{"values":{"general":"UNFORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[16,96],"id":"a0148caa-3210-4bd6-aab1-dd280a947a34","name":"Get 中獎號碼","credentials":{"googleSheetsOAuth2Api":{"id":"BZHmbZeiNJOnp0Es","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"62aadae2-8fad-4fa4-884c-a0c2a9f4d6f5","name":"up_stream","value":"={{ $json['名稱'] }}","type":"string"},{"id":"9dafd670-de03-4645-9731-318429308502","name":"cost_array","value":"={{ Array($json['1K (post.)'], $json['2K (post.)'], $json['3K (post.)'], $json['4K (post.)']) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,384],"id":"a0ba3026-416d-4d9d-abf3-69bd2aa8bcf1","name":"Concat Cost Array1"},{"parameters":{"assignments":{"assignments":[{"id":"1ba4ae34-547e-43b1-abad-09a447f373fa","name":"down_stream","value":"={{ $json['名稱'] }}","type":"string"},{"id":"81e173dd-8cbf-4918-9859-9305e9dc85fb","name":"rev_arr","value":"={{ Array($json['1K (post.)'], $json['2K (post.)'], $json['3K (post.)'], $json['4K (post.)']) }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1136,576],"id":"f2eb2a5c-02f0-41d8-ae3f-6b27e869d2f8","name":"Concat Rev. Array"},{"parameters":{"httpMethod":"POST","path":"post-processing","responseMode":"lastNode","responseData":"noData","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-208,528],"id":"6475d322-737a-4929-8520-3bc72fbcd6a2","name":"Webhook","webhookId":"ea82384e-c6fb-465b-8d5c-5f96dc928b87"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get 中獎號碼","type":"main","index":0},{"node":"Get Config","type":"main","index":0}]]},"Convert Column Type":{"main":[[{"node":"Extract Count / Weight Array","type":"main","index":0}]]},"Extract Count / Weight Array":{"main":[[{"node":"Compute Combinations","type":"main","index":0}]]},"Get 本日下注表":{"main":[[{"node":"Convert Column Type","type":"main","index":0}]]},"Get Config":{"main":[[{"node":"Filter 下游","type":"main","index":0},{"node":"Filter 上游","type":"main","index":0}]]},"Filter 下游":{"main":[[{"node":"Concat Rev. Array","type":"main","index":0}]]},"Filter 上游":{"main":[[{"node":"Concat Cost Array1","type":"main","index":0}]]},"Compute Combinations":{"main":[[{"node":"Downstream Comb. Array","type":"main","index":0},{"node":"Upstream Comb. Array","type":"main","index":0}]]},"Upstream Comb. Array":{"main":[[{"node":"Merge Upstream Info.","type":"main","index":0}]]},"Downstream Comb. Array":{"main":[[{"node":"Merge Downstream Info.","type":"main","index":0}]]},"Merge Downstream Info.":{"main":[[{"node":"Downstream Inner Product","type":"main","index":0}]]},"Merge Upstream Info.":{"main":[[{"node":"Upstream Inner Product","type":"main","index":0}]]},"Upstream Inner Product":{"main":[[{"node":"Sum Upstream Rev.","type":"main","index":0}]]},"Downstream Inner Product":{"main":[[{"node":"Sum Downstream Cost","type":"main","index":0}]]},"Sum Upstream Rev.":{"main":[[{"node":"Update 本日總收支","type":"main","index":0}]]},"Sum Downstream Cost":{"main":[[{"node":"Update 本日總收支1","type":"main","index":0}]]},"Get 中獎號碼":{"main":[[{"node":"Get 本日下注表","type":"main","index":0}]]},"Concat Cost Array1":{"main":[[{"node":"Merge Upstream Info.","type":"main","index":1}]]},"Concat Rev. Array":{"main":[[{"node":"Merge Downstream Info.","type":"main","index":1}]]},"Webhook":{"main":[[{"node":"Get 中獎號碼","type":"main","index":0},{"node":"Get Config","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5d51f033-89b8-4e1d-92a8-f6b6d86681f8","activeVersionId":"5d51f033-89b8-4e1d-92a8-f6b6d86681f8","versionCounter":12,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-24T12:48:24.257Z","createdAt":"2026-01-24T12:48:24.257Z","role":"workflow:owner","workflowId":"dDITfVQX2MsNS6UDZdZE7","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T15:12:29.342Z","createdAt":"2026-01-26T12:31:19.258Z","id":"XmAFDs1ob58GvyYuPBM-Q","name":"n8n Workflow Manager","description":"This MCP provides programmatic access to workflows inside this n8n instance.  \nIt allows an external AI client to **search**, **retrieve**, **update**, or **create** n8n workflows by calling a single unified interface with an `action` field.\n\nThis MCP is designed for **AI-assisted workflow management** (“vibe n8n-ing”), enabling LLMs to inspect existing workflows, modify them, or generate new ones dynamically.\n\n---\n\n## Supported Actions\n\nThe MCP supports **four mutually exclusive actions**, controlled by the `action` field.\n\n---\n\n### 1. Search workflows\n\nSearch for workflows by keyword (matched against workflow names).\n\n**Use when**\n- The client does not know the workflow ID  \n- The client wants to explore or list relevant workflows\n\n**Required fields**\n```json\n{\n  \"action\": \"search\",\n  \"workflow_key_words\": \"<string>\"\n}\n```\n\n**Behavior**\n- Returns a list of workflows whose names match the provided keywords  \n- May return multiple workflows\n\n---\n\n### 2. Get a workflow\n\nRetrieve a single workflow by its unique workflow ID.\n\n**Use when**\n- The workflow ID is already known\n- The client needs the full workflow definition (nodes, connections, settings)\n\n**Required fields**\n```json\n{\n  \"action\": \"get\",\n  \"workflow_id\": \"<string>\"\n}\n```\n\n**Behavior**\n- Returns exactly one workflow\n- Fails if the workflow ID does not exist\n\n---\n\n### 3. Update a workflow\n\nUpdate an existing workflow by replacing its workflow definition.\n\n**Use when**\n- Modifying nodes, connections, settings, or metadata of an existing workflow\n- The workflow ID is known\n\n**Required fields**\n```json\n{\n  \"action\": \"update\",\n  \"workflow_id\": \"<string>\",\n  \"workflow_object\": {\n    \"name\": \"<string>\",\n    \"nodes\": [],\n    \"connections\": {},\n    \"settings\": {}\n  }\n}\n```\n\n**Notes**\n- `workflow_object` must be a valid n8n workflow JSON\n- The workflow ID must already exist\n- This operation overwrites the workflow definition\n\n---\n\n### 4. Create a workflow\n\nCreate a new workflow in the n8n instance.\n\n**Use when**\n- Generating a brand-new workflow\n- The workflow does not yet exist\n\n**Required fields**\n```json\n{\n  \"action\": \"create\",\n  \"workflow_object\": {\n    \"name\": \"<string>\",\n    \"nodes\": [],\n    \"connections\": {},\n    \"settings\": {}\n  }\n}\n```\n\n**Behavior**\n- Creates a new workflow with the provided definition\n- Returns the newly created workflow (including its ID)\n\n---\n\n## General Rules\n- Exactly one action must be specified per request\n- Fields not required by the chosen action should be omitted\n- `workflow_object` must follow the standard n8n workflow JSON structure\n- The MCP does not infer missing fields — all required fields must be explicitly provided\n\n---\n\n## Typical Usage Patterns\n### Discover → Inspect → Modify\n- `search` workflows by keyword\n- `get` a specific workflow by ID\n- `update` the workflow with changes\n\n### Generate → Deploy\n- Construct a workflow JSON\n- `create` a new workflow directly","active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.workflow_object) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[96,800],"id":"96fe79d0-3913-4f47-b54b-ef722ff917f0","name":"Create a workflow","credentials":{"n8nApi":{"id":"DuHVmymDm0NohS4R","name":"n8n account"}}},{"parameters":{"operation":"update","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"workflowObject":"={{ JSON.stringify($json.workflow_object) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[96,608],"id":"92728607-0c92-4ac7-bf44-93987332ffcb","name":"Update a workflow","credentials":{"n8nApi":{"id":"DuHVmymDm0NohS4R","name":"n8n account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8194b55c-a90e-4a9d-830b-2d31c5e5005a","name":"action","value":"update","type":"string"},{"id":"e0e874a3-1c48-442b-8e76-63c6897a8076","name":"workflow_key_words","value":"LINE OA","type":"string"},{"id":"155f19aa-ad4c-42ef-af6f-f0d01b1c1a99","name":"workflow_id","value":"xBpQ_ATKeskiVpAfBsJdx","type":"string"},{"id":"04e7646a-6ce2-4ed2-8b30-bca4ec9c6a89","name":"workflow_object","value":"={\n  \"name\": \"My Testing workflow\", \n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"options\": {}\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.agent\",\n      \"typeVersion\": 3,\n      \"position\": [\n        96,\n        -16\n      ],\n      \"id\": \"7bc6fcb9-f9e6-40d0-89bb-6b94f3d98d77\",\n      \"name\": \"AI Agent\"\n    },\n    {\n      \"parameters\": {\n        \"model\": \"meta-llama/llama-4-maverick-17b-128e-instruct\",\n        \"options\": {}\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.lmChatGroq\",\n      \"typeVersion\": 1,\n      \"position\": [\n        176,\n        208\n      ],\n      \"id\": \"719519e7-6415-4608-abbf-ae210b320974\",\n      \"name\": \"Groq Chat Model\",\n      \"credentials\": {\n        \"groqApi\": {\n          \"id\": \"N8ghbnX31mBpunvp\",\n          \"name\": \"Groq account\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"options\": {}\n      },\n      \"type\": \"@n8n/n8n-nodes-langchain.chatTrigger\",\n      \"typeVersion\": 1.4,\n      \"position\": [\n        -128,\n        -16\n      ],\n      \"id\": \"5b46be68-3f50-4566-a1d1-5a8da01e9c6a\",\n      \"name\": \"When chat message received\",\n      \"webhookId\": \"fc467941-ac24-4207-94b9-484e0897eccf\"\n    }\n  ],\n  \"connections\": {},\n  \"pinData\": {},\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"2385683d25547cd56cf5145161f74b57cce033640cadda53a0143f5bd06e629f\"\n  }, \n  \"settings\": {}\n}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,512],"id":"f4592110-b650-4be1-bcc8-a91fc9729040","name":"Edit Fields"},{"parameters":{"httpMethod":"POST","path":"n8n-trigger","responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-800,320],"id":"2937d6b0-d547-4b19-913f-1055359ef5d7","name":"Webhook","webhookId":"7054657b-403f-4221-9871-4be20196a225"},{"parameters":{"filters":{"name":"={{ $json.workflow_key_words }}"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[96,224],"id":"70193a01-e025-4849-a06b-4cb3e3da5cce","name":"Get many workflows","credentials":{"n8nApi":{"id":"DuHVmymDm0NohS4R","name":"n8n account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.action.toLowerCase() }}","rightValue":"search","operator":{"type":"string","operation":"equals"},"id":"23ca08f2-82bd-4af8-91b5-3ebf71830c1d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Search"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"65a73970-11c0-4c8e-a484-6e09254e07f0","leftValue":"={{ $json.action.toLowerCase() }}","rightValue":"get","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Get"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"92764d50-5cc7-4b64-b5f8-cea79d8b0633","leftValue":"={{ $json.action.toLowerCase() }}","rightValue":"update","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Update"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"7ef42797-2127-4497-af19-5c93a34ca8f7","leftValue":"={{ $json.action.toLowerCase() }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Create"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-128,480],"id":"bbe1e0d2-c588-44e1-a628-6710fc2f2d34","name":"Switch"},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.workflow_id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[96,416],"id":"04aa063b-74ea-48b6-b977-0141fe6cfd0a","name":"Get a workflow","credentials":{"n8nApi":{"id":"DuHVmymDm0NohS4R","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-800,512],"id":"bfa2c296-61e0-4b24-ac32-833242b5eeb8","name":"When clicking ‘Execute workflow’"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-352,512],"id":"ed722d79-cb4c-49a5-9ef5-8228accb90f1","name":"No Operation, do nothing"},{"parameters":{"assignments":{"assignments":[{"id":"af8b9533-b701-41bb-bf0b-41592d10659c","name":"action","value":"={{ $json.body.action }}","type":"string"},{"id":"85b2ffa5-dc23-428a-bf85-cf38a9fd04c3","name":"workflow_id","value":"={{ $json.body.workflow_id }}","type":"string"},{"id":"51f3282a-b7a4-48fc-af4c-6874fd95890c","name":"workflow_key_words","value":"={{ $json.body.workflow_key_words }}","type":"string"},{"id":"be4330e2-e075-41a4-b03a-63a8843d8e6b","name":"workflow_object","value":"={{ $json.body.workflow_object }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,320],"id":"c2e450f4-44a3-44a2-91b4-9bfa66ba86f4","name":"Edit Fields1"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"action\": \"get\",\n  \"workflow_id\": \"272i4kjkXwZzraHR\",\n  \"workflow_key_words\": \"LINE\",\n  \"workflow_object\": { \"name\": \"My workflow 123\", \"nodes\": [], \"connections\": {}, \"settings\": {} }\n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-576,704],"id":"149071f4-b880-4b7c-8903-23da1632e67d","name":"When Executed by Another Workflow"}],"connections":{"Create a workflow":{"main":[[]]},"Edit Fields":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Get many workflows","type":"main","index":0}],[{"node":"Get a workflow","type":"main","index":0}],[{"node":"Update a workflow","type":"main","index":0}],[{"node":"Create a workflow","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b430176c-ff9e-4588-b58c-5a0f38f7199e","activeVersionId":"b430176c-ff9e-4588-b58c-5a0f38f7199e","versionCounter":54,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-26T12:31:19.258Z","createdAt":"2026-01-26T12:31:19.258Z","role":"workflow:owner","workflowId":"XmAFDs1ob58GvyYuPBM-Q","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T13:13:25.599Z","createdAt":"2026-01-26T13:13:25.599Z","id":"P8kVwausuPBFsXYI","name":"My workflow","description":null,"active":false,"isArchived":false,"nodes":[],"connections":{},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4b72ff44-2a64-49b3-a4a3-d289595f8db3","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-26T13:13:25.599Z","createdAt":"2026-01-26T13:13:25.599Z","role":"workflow:owner","workflowId":"P8kVwausuPBFsXYI","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T15:01:56.498Z","createdAt":"2026-01-26T13:25:41.797Z","id":"272i4kjkXwZzraHR","name":"My workflow 123","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"7086f27e-4b43-4099-ae5e-ed2554607707","name":"When chat message received","webhookId":"b304fbc5-1b01-4881-91c3-983f629420f6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[208,0],"id":"3d97f220-2674-4be9-979f-3fa9afed1ab3","name":"AI Agent"},{"parameters":{"endpointUrl":"http://localhost:5678/mcp-server/http","authentication":"bearerAuth","include":"selected","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[176,208],"id":"fa3ff7f5-fa77-45d9-b0be-12e9955d1eb8","name":"MCP Client","credentials":{"httpBearerAuth":{"id":"6Rmc3LFl3tFGXpl5","name":"n8n Instance-Level MCP token"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d92ebea5-b9ba-441b-b41c-bfe0833969a9","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-26T13:25:41.797Z","createdAt":"2026-01-26T13:25:41.797Z","role":"workflow:owner","workflowId":"272i4kjkXwZzraHR","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-27T12:50:09.772Z","createdAt":"2026-01-26T15:02:48.455Z","id":"PSajvJd09LYUXoTvLXvC0","name":"n8n Workflow Manager MCP Server","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"n8n-manager"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[-704,-208],"id":"7622a333-68b5-4063-a722-56ad9dfeecf5","name":"MCP Server Trigger","webhookId":"4b15d959-d5a4-46a1-8882-7dbcedfd2e79"},{"parameters":{"description":"=Search workflows in this n8n instance by keyword.  \nUse only when the workflow ID is unknown or the user wants to find relevant workflows.  \nReturns a list of workflows whose names match the provided keyword.\n","workflowId":{"__rl":true,"value":"wqI2C1scTSfKzNgaavExG","mode":"list","cachedResultUrl":"/workflow/wqI2C1scTSfKzNgaavExG","cachedResultName":"n8n Workflow Search"},"workflowInputs":{"mappingMode":"defineBelow","value":{"key_words":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('key_words', `The keyword string used to search workflows by name.\nRequired for searching workflows. May return multiple workflows.\nOnly use when the workflow ID is unknown or the user explicitly requests a search.\n`, 'string') }}"},"matchingColumns":["key_words"],"schema":[{"id":"key_words","displayName":"key_words","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-752,32],"id":"6e037e7d-c7da-437a-aca5-8c42264a1ffe","name":"Search Workflows"},{"parameters":{"description":"Retrieve a single workflow by its unique workflow ID in this n8n instance.  \nUse only when the workflow ID is known and the user wants to inspect the workflow details.\n","workflowId":{"__rl":true,"value":"5m84LEiC3JL3W068--Y_7","mode":"list","cachedResultUrl":"/workflow/5m84LEiC3JL3W068--Y_7","cachedResultName":"n8n Workflow Retrieve"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `The unique workflow ID to retrieve.\nRequired and must refer to an existing workflow.\nOnly use when the workflow ID is known and the user requests retrieval.\n`, 'string') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-608,32],"id":"5c8c1d9f-6747-435e-b205-1705db33b3ee","name":"Get a Workflow"},{"parameters":{"description":"Update an existing workflow in this n8n instance by replacing its workflow definition.  \nUse only when the user explicitly requests a workflow modification and provides the workflow ID and complete workflow object.\n","workflowId":{"__rl":true,"value":"VY6ymQwDtWRCn8skvoItP","mode":"list","cachedResultUrl":"/workflow/VY6ymQwDtWRCn8skvoItP","cachedResultName":"n8n Workflow Update"},"workflowInputs":{"mappingMode":"defineBelow","value":{"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id', `The unique ID of the workflow to update. Required.`, 'string') }}","object":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('object', `The complete workflow JSON object to overwrite the existing workflow. Required.\n  Must include name, nodes, connections, and settings.\nOnly use when the user explicitly requests an update.`, 'json') }}"},"matchingColumns":[],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"object","displayName":"object","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-432,32],"id":"4fedeb5d-34e5-40b0-bf34-c490381b421d","name":"Update a Workflow"},{"parameters":{"description":"Create a new workflow in this n8n instance using the provided workflow definition.  \nUse only when the user explicitly requests a new workflow creation and provides a complete workflow object.\n","workflowId":{"__rl":true,"value":"fmBd8k6PMt6Vi3TmvQ-M1","mode":"list","cachedResultUrl":"/workflow/fmBd8k6PMt6Vi3TmvQ-M1","cachedResultName":"n8n Workflow Create"},"workflowInputs":{"mappingMode":"defineBelow","value":{"object":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('object', `The complete workflow JSON object to create.\nMust include name, nodes, connections, and settings.\nOnly use when the user explicitly requests workflow creation.\n`, 'json') }}"},"matchingColumns":["object"],"schema":[{"id":"object","displayName":"object","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-256,32],"id":"12f1efad-1f7c-4bf7-9ed2-3c3c04c071e6","name":"Create a Workflow"}],"connections":{"Search Workflows":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Get a Workflow":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Update a Workflow":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]},"Create a Workflow":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"32ac5a29-e9b6-4052-a5aa-5df0884e4aca","activeVersionId":"32ac5a29-e9b6-4052-a5aa-5df0884e4aca","versionCounter":23,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-26T15:02:48.455Z","createdAt":"2026-01-26T15:02:48.455Z","role":"workflow:owner","workflowId":"PSajvJd09LYUXoTvLXvC0","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T16:02:07.442Z","createdAt":"2026-01-26T15:13:00.751Z","id":"cyOsswB4MRK6Vj8D","name":"My workflow 123","description":null,"active":false,"isArchived":false,"nodes":[],"connections":{},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"ab0d60b9-d9ab-4be0-8694-ade6c59e3474","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-26T15:13:00.751Z","createdAt":"2026-01-26T15:13:00.751Z","role":"workflow:owner","workflowId":"cyOsswB4MRK6Vj8D","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T16:55:12.418Z","createdAt":"2026-01-26T15:22:10.274Z","id":"d1gf2ar9abXFmpryUU_vc","name":"n8n AI Manager","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"availableInChat":true,"agentName":"n8n AI Manager","agentDescription":"Update or even create an n8n workflow by just chatting with AI.","options":{"responseMode":"streaming"}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"2d8c6093-66a1-4016-ba9b-2679ca0eb898","name":"When chat message received","webhookId":"f067298e-671a-4bf5-88c5-7fb87cc68b1c"},{"parameters":{"options":{"systemMessage":"=You are a smart AI assistant that can both:\n1) discuss and co-design products with the user, and\n2) manage workflows in an n8n instance using the provided n8n manager tool.\n\nWhen the user asks for workflow operations, use the tool.  \nWhen the user is discussing product design, strategy, or ideas, respond naturally without using the tool.\n\nRules for using the tool:\n- Decide the operation first (search/get/update/create).\n- Use `search` when the workflow ID is unknown.\n- Use `get` before `update` unless a complete workflow_object is already provided.\n- Never call `update` or `create` without a complete and valid workflow_object.\n- If required information is missing, ask the user for clarification instead of guessing.\n- If multiple workflows match a search, ask the user to choose before proceeding.\n\nBe concise and helpful. Keep product discussion collaborative and creative.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[280,0],"id":"bf9718a4-3bc4-4423-8794-04937fb6a0d8","name":"AI Agent"},{"parameters":{"contextWindowLength":3},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[352,224],"id":"cf0cd125-5026-4221-9b87-ce683f40b5fd","name":"Simple Memory"},{"parameters":{"endpointUrl":"http://localhost:5678/mcp/n8n-manager","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[480,224],"id":"77ea1625-2442-4008-94d9-ff771dada748","name":"MCP Client"},{"parameters":{"options":{"temperature":0.1}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[224,224],"id":"82b324af-7abc-4a86-8ac2-5dc6a07ba818","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"aQ6LBhlv56QsLmPl","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf550046-9901-430a-9861-397301fc86ba","activeVersionId":"cf550046-9901-430a-9861-397301fc86ba","versionCounter":27,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-26T15:22:10.274Z","createdAt":"2026-01-26T15:22:10.274Z","role":"workflow:owner","workflowId":"d1gf2ar9abXFmpryUU_vc","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T16:18:09.393Z","createdAt":"2026-01-26T15:46:42.565Z","id":"wqI2C1scTSfKzNgaavExG","name":"n8n Workflow Search","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"filters":{"name":"={{ $json.key_words }}"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[272,-160],"id":"96551497-d40d-435f-b6e2-31ac4b430f06","name":"Get many workflows","credentials":{"n8nApi":{"id":"DuHVmymDm0NohS4R","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-400,-256],"id":"634f467b-4017-4cc5-bf9e-a32df01f742c","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"0d5cb42d-e8d8-4ed9-a890-cb412373c3a8","name":"key_words","value":"LINE","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-176,-256],"id":"61e16ba3-5ba4-4494-b743-784551b668cf","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[48,-160],"id":"fa78b210-aea4-4f8f-ace2-93bfac6c762d","name":"No Operation, do nothing"},{"parameters":{"workflowInputs":{"values":[{"name":"key_words"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-176,-64],"id":"b0a73797-2ef5-458f-a3cd-a8600989c619","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"260de784-6dbd-41a7-a530-9b15781ac8e1","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"79f2822a-6cea-44df-837a-948d6e58af6b","name":"name","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,-160],"id":"b0ae0879-c00d-4f1a-9b70-2736a236dba1","name":"Edit Fields1"}],"connections":{"Get many workflows":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"407c109f-8e28-4bfa-b53a-6893915856fe","activeVersionId":"407c109f-8e28-4bfa-b53a-6893915856fe","versionCounter":13,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-26T15:46:42.565Z","createdAt":"2026-01-26T15:46:42.565Z","role":"workflow:owner","workflowId":"wqI2C1scTSfKzNgaavExG","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T16:05:22.405Z","createdAt":"2026-01-26T15:50:11.241Z","id":"5m84LEiC3JL3W068--Y_7","name":"n8n Workflow Retrieve","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[160,-128],"id":"78d2c128-cf50-42ab-a83c-f57ef1454603","name":"Get a workflow","credentials":{"n8nApi":{"id":"DuHVmymDm0NohS4R","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,-224],"id":"1fa9e134-6437-4d3a-a7d0-0f1210d5e350","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"660687c1-f146-41e0-a371-b67bbfcaf196","name":"id","value":"272i4kjkXwZzraHR","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-224],"id":"f6094121-5158-4665-8895-7a7555b0f919","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-64,-128],"id":"73617fd9-1ca2-4b6f-81ac-db8fe9547e7d","name":"No Operation, do nothing"},{"parameters":{"workflowInputs":{"values":[{"name":"id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,-32],"id":"1bb064d2-93da-4f44-931d-7b272fd4ac38","name":"When Executed by Another Workflow"}],"connections":{"Get a workflow":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"2a3b5a0b-2ff8-477d-9a86-05f867cf422b","activeVersionId":"2a3b5a0b-2ff8-477d-9a86-05f867cf422b","versionCounter":10,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-26T15:50:11.241Z","createdAt":"2026-01-26T15:50:11.241Z","role":"workflow:owner","workflowId":"5m84LEiC3JL3W068--Y_7","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T16:05:19.226Z","createdAt":"2026-01-26T16:01:44.851Z","id":"VY6ymQwDtWRCn8skvoItP","name":"n8n Workflow Update","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"update","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"workflowObject":"={{ JSON.stringify($json.object) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[288,-288],"id":"2b1114fc-2566-4ffc-8fa5-bbb1d2658a40","name":"Update a workflow","credentials":{"n8nApi":{"id":"DuHVmymDm0NohS4R","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-384,-384],"id":"72343857-b93b-4a53-8e98-9f36bf352608","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"e780e58e-d0dd-4103-8175-17e4f2f35a5f","name":"id","value":"cyOsswB4MRK6Vj8D","type":"string"},{"id":"70ba82e2-b846-43f1-8c03-8f0cc44e89ea","name":"object","value":"{ \"name\": \"My workflow 123\", \"nodes\": [], \"connections\": {}, \"settings\": {} }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-384],"id":"4b79a49e-acf2-4e55-b610-14426834b427","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[64,-288],"id":"d58a1aef-f651-415e-9a09-efd077cde09a","name":"No Operation, do nothing"},{"parameters":{"workflowInputs":{"values":[{"name":"id"},{"name":"object","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-160,-192],"id":"8b3a41d8-bd7e-4e6d-84f2-74d9ea5f0268","name":"When Executed by Another Workflow"}],"connections":{"Update a workflow":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Update a workflow","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"36bf9a0e-16ac-415d-bf1f-57d95c50110b","activeVersionId":"36bf9a0e-16ac-415d-bf1f-57d95c50110b","versionCounter":10,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-26T16:01:44.851Z","createdAt":"2026-01-26T16:01:44.851Z","role":"workflow:owner","workflowId":"VY6ymQwDtWRCn8skvoItP","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-26T16:05:16.608Z","createdAt":"2026-01-26T16:04:00.432Z","id":"fmBd8k6PMt6Vi3TmvQ-M1","name":"n8n Workflow Create","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"create","workflowObject":"={{ JSON.stringify($json.object) }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[192,-256],"id":"65720fb2-c988-444a-8ab3-f333c8cdb0a1","name":"Create a workflow","credentials":{"n8nApi":{"id":"DuHVmymDm0NohS4R","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-480,-352],"id":"d6e6c2cd-d945-4c09-919e-06616a2b32eb","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"2902b911-2549-41ac-8c24-a9b1388617f1","name":"object","value":"{ \"name\": \"My workflow 123\", \"nodes\": [], \"connections\": {}, \"settings\": {} }","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-256,-352],"id":"f7dbdff0-4278-4a2c-a730-cca0226ffef5","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-32,-256],"id":"3e509890-856f-41b3-87df-535856c72207","name":"No Operation, do nothing"},{"parameters":{"workflowInputs":{"values":[{"name":"object","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-256,-160],"id":"44caf769-8bef-4050-bc43-cc6997025059","name":"When Executed by Another Workflow"}],"connections":{"Create a workflow":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"No Operation, do nothing":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"95563e6c-2f9f-419d-80bf-ea4fac32daf8","activeVersionId":"95563e6c-2f9f-419d-80bf-ea4fac32daf8","versionCounter":10,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-26T16:04:00.432Z","createdAt":"2026-01-26T16:04:00.432Z","role":"workflow:owner","workflowId":"fmBd8k6PMt6Vi3TmvQ-M1","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]},{"updatedAt":"2026-01-27T13:38:52.861Z","createdAt":"2026-01-26T16:04:20.391Z","id":"dvoUQ90JJil1ycQh","name":"Calculator MCP","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"path":"calculator"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[0,0],"id":"bc254ca0-6097-4f58-aa6e-183a79392f2f","name":"MCP Server Trigger","webhookId":"f4ec7a8f-42ff-4a8d-be45-c1aba1fd336c"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[96,208],"id":"797f5f71-af7e-4a56-baac-6da116dd690e","name":"Calculator"}],"connections":{"Calculator":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"8e205a63-0b71-46f5-b13d-908000b189e4","activeVersionId":"8e205a63-0b71-46f5-b13d-908000b189e4","versionCounter":7,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-01-26T16:04:20.391Z","createdAt":"2026-01-26T16:04:20.391Z","role":"workflow:owner","workflowId":"dvoUQ90JJil1ycQh","projectId":"4zAUm2PoKNBW9I3X","project":{"updatedAt":"2025-12-30T15:04:42.902Z","createdAt":"2025-12-30T14:48:39.958Z","id":"4zAUm2PoKNBW9I3X","name":"Edward Chiu <edward19978695@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"bdac5e60-a160-4cd8-8ee7-69df1a5996ab"}}]}]